<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="GetBasketHandler" path="/baskets/*" verb="GET" type="CheckoutKataApi.WebApp.GetBasketHandler"/>
      <add name="PostBasketHandler" path="/baskets" verb="POST" type="CheckoutKataApi.WebApp.PostBasketHandler"/>
      <add name="HttpHandler" path="*" verb="*" type="CheckoutKataApi.WebApp.HttpHandler"/>
    </handlers>
  </system.webServer>
</configuration>
